::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid #124254;
  border-radius: 1rem;
}
#active{
  background-color: #124254!important;
}
#receive{
  background-color: #124254!important;
}
.btn-link{
  color: #124254!important;
}
#recent{
  color: #124254!important;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}